    
<link rel="stylesheet" href="/css/home.css">

<link rel="stylesheet" href="/css/home.css">

<div id="home-container">
    <% if(locals.user){%>
        <a href="/users/profile/<%= locals.user.id %>">Rest Password </a>
    <%}%>
    
</div>
