<h1>Sign In</h1>

<form action="/users/create-session" method="post">

    <input type="text" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="submit" value="Sign In">

</form>

<div class="center-container">
    <p id="google">
        <a href="/users/auth/google">Google Sign In / Sign Up</a>
    </p>
  </div>

  