footer {
    color: white;
    display: flex;
    justify-content: center; /* center items horizontally */
    align-items: center; /* center items vertically */
    height: 50px;
    background-color: rgb(67, 105, 255);
    font-size: larger;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
  }
  